.main {
  grid-area: main;
}
.main__content {
  grid-column: 2 / 3;
  padding: 0 10px 57px 10px;
}
h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #3d4141;
  letter-spacing: 0.06em;
  font-weight: 400;
  margin-bottom: 30px;
}
.content__item {
  padding: 0 0 0 80px;
  margin: 0 0 30px;
}
.content__box {
  position: relative;
  background-color: #3d4140;
  padding: 40px 100px 0 50px;
  color: #919598;
}
time {
  position: absolute;
  right: 100%;
  top: 0;
  width: 75px;
  margin-right: 5px;
  background-color: #7d7d7c;
  color: #fff;
  text-align: center;
  padding: 12px 10px 5px 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.content__blockquote {
  font-size: 16px;
  padding-top: 40px;
  position: relative;
}
.content__blockquote:before {
  display: block;
  color: #f85252;
  content: "“";
  font-size: 110px;
  position: absolute;
  top: -25px;
  left: 0;
  line-height: 1;
}
cite {
  display: block;
  padding: 20px 20px 35px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.name {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 20px;
  color: #b0b4b3;
  padding-right: 15px;
  margin-right: 12px;
}
.name::before {
  content: "—";
  display: inline-block;
  font-size: 12px;
  color: #b0b4b3;
  position: absolute;
  right: 100%;
  margin-right: 5px;
}
.name::after {
  display: block;
  content: "";
  left: 100%;
  top: 8px;
  width: 2px;
  height: 80px;
  background-color: #f85252;
  position: absolute;
}
.position {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  white-space: normal;
  word-break: normal;
  padding-top: 25px;
}
