.main {
  grid-area: main;
}
.main__content {
  grid-column: 2 / 3;
  padding: 0 10px 57px 10px;
}
.main__title {
  text-transform: uppercase;
  color: #3d4141;
  letter-spacing: 0.06em;
  font-size: calc(20px + 12 * (100vw / 1170));
  font-weight: 400;
}
.main__contact {
  display: flex;
  flex-direction: column;
  margin: 35px 0;
}
.contact span {
  text-align: left;
  white-space: nowrap;
}
.fas {
  display: inline-block;
  vertical-align: middle;
  color: #f85252;
  /* Цвет иконок */
  margin-right: 10px;
  /* Отступ между иконкой и текстом */
  font-size: calc(24px + 6 * (100vw / 1170));
}
.contact__home,
.contact__phone,
.contact__mail {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  color: #3d4141;
  margin-right: 73px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 24px;
  font-size: calc(16px + 4 * (100vw / 1170));
}
@media (max-width: 550px) {
  .contact__home,
  .contact__phone,
  .contact__mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main__title {
    text-align: center;
  }
  .fas {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.contact__google-map {
  position: relative;
  /* Убедитесь, что контейнер имеет контекст позиционирования */
  width: 100%;
  /* Ширина 100% */
  height: 400px;
  /* Установите желаемую высоту */
  overflow: hidden;
  /* Скрывает любые выходящие за пределы элементы */
}
.contact__google-map iframe {
  position: absolute;
  /* Фиксируйте iframe внутри контейнера */
  top: 0;
  /* Начинать от верхнего края контейнера */
  left: 0;
  /* Начинать от левого края контейнера */
  width: 100%;
  /* Ширина 100% от родительского контейнера */
  height: 100%;
  /* Высота 100% от родительского контейнера */
  border: 0;
  /* Убираем рамку */
}
