
@font-face { 
    font-family: "Tinos";
    src: local("Tinos"), 
         url(../fonts/AnyConv.com__Tinos-Italic.woff2) format("woff2"); 
    font-weight: 400;
    font-style: italic;
}
@font-face { 
    font-family: "Tinos";
    src: local("Tinos"), 
         url(../fonts/AnyConv.com__Tinos.woff2) format("woff2"); 
    font-weight: 400;
    font-style: normal;
}
.grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
  grid-template-rows: minmax(100px, auto) 1fr minmax(150px, auto);
  grid-template-areas: ". header ." ". main ." "footer footer footer";
}
/*====HEADER====*/
.header {
  grid-area: header;
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid #d8cdcd;
  margin-bottom: 40px;
  padding-top: 5px;
}
.nav {
  grid-column: 2 / 3;
  position: relative;
  background: #ffffff;
  overflow: hidden;
}
.nav__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}
.nav__center-img {
  max-width: 260px;
  margin-top: 10px;
}
.nav__link {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 100px;
  height: 100px;
  color: #3d4141;
}
.nav__left {
  float: left;
}
.nav__link-left {
  padding: 5px 35px 5px 10px;
}
.nav__right {
  float: right;
}
.nav__link-rigth {
  padding: 5px 10px 5px 35px;
}
@media screen and (max-width: 1150px) {
  .nav__center {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .nav__left,
  .nav__right {
    float: none;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__center {
    position: static;
    transform: none;
  }
  .nav__link {
    height: 50px;
    font-size: 13px;
    line-height: 50px;
    padding: 5px;
  }
}
@media screen and (max-width: 700px) {
  .nav__left,
  .nav__right {
    display: flex;
    flex-direction: column;
  }
  .nav__list {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .nav__link {
    line-height: 30px;
    height: 30px;
  }
}
/*Main*/
.main {
  grid-area: main;
}
.main__content {
  grid-column: 2 / 3;
  padding: 0 10px 57px 10px;
}
.main__title {
  text-transform: uppercase;
  color: #3d4141;
  letter-spacing: 0.06em;
  font-size: calc(20px + 12 * (100vw / 1170));
  font-weight: 400;
}
.main__contact {
  display: flex;
  flex-direction: column;
  margin: 35px 0;
}
.contact span {
  text-align: left;
  white-space: nowrap;
}
.fas {
  display: inline-block;
  vertical-align: middle;
  color: #f85252;
  /* Цвет иконок */
  margin-right: 10px;
  /* Отступ между иконкой и текстом */
  font-size: calc(24px + 6 * (100vw / 1170));
}
.contact__home,
.contact__phone,
.contact__mail {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  color: #3d4141;
  margin-right: 73px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 24px;
  font-size: calc(16px + 4 * (100vw / 1170));
}
@media (max-width: 550px) {
  .contact__home,
  .contact__phone,
  .contact__mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main__title {
    text-align: center;
  }
  .fas {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.contact__google-map {
  position: relative;
  /* Убедитесь, что контейнер имеет контекст позиционирования */
  width: 100%;
  /* Ширина 100% */
  height: 400px;
  /* Установите желаемую высоту */
  overflow: hidden;
  /* Скрывает любые выходящие за пределы элементы */
}
.contact__google-map iframe {
  position: absolute;
  /* Фиксируйте iframe внутри контейнера */
  top: 0;
  /* Начинать от верхнего края контейнера */
  left: 0;
  /* Начинать от левого края контейнера */
  width: 100%;
  /* Ширина 100% от родительского контейнера */
  height: 100%;
  /* Высота 100% от родительского контейнера */
  border: 0;
  /* Убираем рамку */
}
/*Footer*/
.footer {
  grid-area: footer;
  padding: 57px 0;
  background-color: #3d4141;
  font: inherit;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
}
.footer__content {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}
.footer__logo {
  padding: 5px;
}
.footer__logo-link {
  display: block;
}
.footer__logo-img {
  margin-bottom: 25px;
}
.footer__contacts {
  width: 260px;
  margin-left: auto;
  margin-bottom: auto;
}
.contact__h4 {
  font-size: calc(22px + 20 * (100vw / 1170));
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}
.address {
  width: 530px;
  padding: 5px;
}
.address__item1 {
  font-size: calc(10px + 12 * (100vw / 1170));
  margin-bottom: 15px;
  letter-spacing: 0.02em;
  color: #818686;
}
.address__item2 {
  font-size: calc(14px + 13 * (100vw / 1170));
  color: #ffffff;
}
@media (max-width: 1090px) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__contacts {
    margin: 0;
  }
  .address {
    width: 100%;
    text-align: center;
  }
}
