.grid__container {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(100px, auto) repeat(5, auto) minmax(150px, auto) / 1fr minmax(auto, 1170px) 1fr;
}
.grid__1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}
.grid__2 {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
}
@media (max-width: 1200px) {
  .general__img,
  .general__container-1,
  .general__container-2,
  .general__map,
  .general__equipment {
    padding: 0 15px;
  }
}
