@import "_overall.css";
@import "_header.css";
@import "_main.css";
@import "_footer.css";

@font-face {
  font-family: "Tinos";
  src: local("Tinos"),
    url(../fonts/AnyConv.com__Tinos-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Tinos";
  src: local("Tinos"), url(../fonts/AnyConv.com__Tinos.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}