@font-face {
  font-family: "Tinos";
  src: local("Tinos"),
    url(../fonts/AnyConv.com__Tinos-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Tinos";
  src: local("Tinos"), url(../fonts/AnyConv.com__Tinos.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

.grid__container {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(100px, auto) repeat(5, auto) minmax(150px, auto) / 1fr minmax(auto, 1170px) 1fr;
}
.grid__1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}
.grid__2 {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
}
@media (max-width: 1200px) {
  .general__img,
  .general__container-1,
  .general__container-2,
  .general__map,
  .general__equipment {
    padding: 0 15px;
  }
}

/*====HEADER====*/
.header {
  grid-row: 1;
  grid-column: 2 / 3;
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid #d8cdcd;
  margin-bottom: 40px;
  padding-top: 5px;
}
.nav {
  position: relative;
  background: #ffffff;
  overflow: hidden;
}
.nav__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}
.nav__center-img {
  max-width: 260px;
  margin-top: 10px;
}
.nav__link {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 100px;
  height: 100px;
  color: #3d4141;
}
.nav__left {
  float: left;
}
.nav__link-left {
  padding: 5px 35px 5px 10px;
}
.nav__right {
  float: right;
}
.nav__link-rigth {
  padding: 5px 10px 5px 35px;
}
@media screen and (max-width: 1150px) {
  .nav__center {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .nav__left,
  .nav__right {
    float: none;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__center {
    position: static;
    transform: none;
  }
  .nav__link {
    height: 50px;
    font-size: 13px;
    line-height: 50px;
    padding: 5px;
  }
}
@media screen and (max-width: 700px) {
  .nav__left,
  .nav__right {
    display: flex;
    flex-direction: column;
  }
  .nav__list {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .nav__link {
    line-height: 30px;
    height: 30px;
  }
}
/*Main*/
.general__img {
  grid-row: 2;
  grid-column: 2 / 3;
  overflow: hidden;
  margin-bottom: 60px;
}
.general__backgroun-link {
  display: block;
  background-image: url("../images/general/main.jpg");
  background-repeat: no-repeat;
  min-height: 781px;
  transition: 1s;
}
.general__backgroun-link:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 479px) {
  .general__backgroun-link {
    background-size: cover;
    background-position: center center;
  }
}
/*---slogan---*/
.slogan {
  max-width: 320px;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  margin: 75px 0 0 75px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 700px) {
  .slogan {
    margin-top: 30px;
    margin-bottom: 79px;
    margin-left: 30px;
  }
}
@media (max-width: 479px) {
  .slogan {
    margin-left: 10px;
  }
}
.slogan-1,
.slogan-2,
.slogan-3 {
  display: inline-block;
}
.slogan-1 {
  font-size: 42px;
  margin-bottom: 20px;
}
.slogan-2 {
  font-size: 92px;
  margin: 18px 0px;
}
.slogan-3 {
  font-size: 31.5px;
  margin-top: 18px;
}
@media screen and (max-width: 479px) {
  .slogan-1 {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 200%;
  }
  .slogan-2 {
    font-size: 72px;
    margin: 18px 0px;
    line-height: 180%;
  }
  .slogan-3 {
    font-size: 23px;
    margin-top: 18px;
  }
}
/*---about---*/
.general__container-1 {
  grid-row: 3;
  grid-column: 2 / 3;
  padding-bottom: 20px;
}
.title {
  margin-bottom: 30px;
}
.h2 {
  font: 400 32px/0px sans-serif;
  text-transform: uppercase;
  color: #3d4141;
  letter-spacing: 0.06em;
}
@media (max-width: 479px) {
  .h2 {
    font-size: 22px;
  }
}
.general__cell_2,
.general__cell_3 {
  margin-left: 30px;
  margin-bottom: 20px;
}
.general__cell_1 {
  grid-column: 1 / 2;
  margin-bottom: 20px;
}
.general__cell_2 {
  grid-column: 2 / 3;
}
.general__cell_3 {
  grid-column: 3 / 4;
}
@media (max-width: 767px) {
  .general__cell_1,
  .general__cell_2,
  .general__cell_3 {
    grid-column: 1 / 4;
    margin-left: auto;
    margin-right: auto;
  }
}
/*---map---*/
.general__map {
  padding-bottom: 50px;
}
.map {
  grid-row: 4;
  grid-column: 2 / 3;
}
/*---equipment---*/
.general__container-2 {
  grid-row: 5;
  grid-column: 2 / 3;
  padding-bottom: 20px;
}
/*---equipment-logo---*/
.general__equipment {
  padding-bottom: 50px;
}
.equipment {
  grid-row: 6;
  grid-column: 2 / 3;
  padding-bottom: 100px;
}
/*---partners---*/
.partners {
  grid-row: 7;
  grid-column: 1 / -1;
}
.partners .partners__title {
  margin-left: 4%;
}
.partners__elem {
  background-color: #3d4141;
  padding-top: 60px;
}
.partners__logo {
  grid-column: 2 / 3;
  text-align: center;
}
.partners__button {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #3d4141;
}
.partners__input {
  padding: 13px 12px 10px;
  text-transform: uppercase;
  background-color: #f85252;
  color: #fff;
  font-size: 14px;
  border: none;
  line-height: 1;
  cursor: pointer;
}
/*Footer*/
.footer {
  grid-row: 8;
  grid-column: 1 / -1;
  padding: 67px 0;
  background-color: #3d4141;
  font: inherit;
}
.footer__content {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}
.footer__logo {
  padding: 5px;
}
.footer__logo-link {
  display: block;
}
.footer__logo-img {
  margin-bottom: 25px;
}
.footer__contacts {
  width: 260px;
  margin-left: auto;
  margin-bottom: auto;
}
.contact__h4 {
  font-size: calc(22px + 20 * (100vw / 1170));
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}
.address {
  width: 530px;
  padding: 5px;
}
.address__item1 {
  font-size: calc(10px + 12 * (100vw / 1170));
  margin-bottom: 15px;
  letter-spacing: 0.02em;
  color: #818686;
}
.address__item2 {
  font-size: calc(14px + 13 * (100vw / 1170));
  color: #ffffff;
}
@media (max-width: 1090px) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__contacts {
    margin: 0;
  }
  .address {
    width: 100%;
    text-align: center;
  }
}

