/*====HEADER====*/
.header {
  grid-area: header;
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid #d8cdcd;
  margin-bottom: 40px;
  padding-top: 5px;
}
.nav {
  grid-column: 2 / 3;
  position: relative;
  background: #ffffff;
  overflow: hidden;
}
.nav__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}
.nav__center-img {
  max-width: 260px;
  margin-top: 10px;
}
.nav__link {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 100px;
  height: 100px;
  color: #3d4141;
}
.nav__left {
  float: left;
}
.nav__link-left {
  padding: 5px 35px 5px 10px;
}
.nav__right {
  float: right;
}
.nav__link-rigth {
  padding: 5px 10px 5px 35px;
}
@media screen and (max-width: 1150px) {
  .nav__center {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .nav__left,
  .nav__right {
    float: none;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__center {
    position: static;
    transform: none;
  }
  .nav__link {
    height: 50px;
    font-size: 13px;
    line-height: 50px;
    padding: 5px;
  }
}
@media screen and (max-width: 700px) {
  .nav__left,
  .nav__right {
    display: flex;
    flex-direction: column;
  }
  .nav__list {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .nav__link {
    line-height: 30px;
    height: 30px;
  }
}
