.main {
  grid-area: main;
}
.main__content {
  grid-column: 2 / 3;
  padding: 0 10px 57px 10px;
}
.main__title {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #3d4141;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.form-field {
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  background: #3d4140;
  padding: 10px 12px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0 0 15px;
}
#name,
#phone,
#email {
  width: 50%;
}
#comments {
  width: 100%;
  min-height: 200px;
}
.file {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.file__upload-button {
  cursor: pointer;
  padding: 12px 30px 8px;
  background-color: #3d4140;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 20px;
}
.file__upload-button:hover {
  background-color: #5e6061;
}
.main__btn-submit {
  margin-left: auto;
  padding: 13px 12px 10px;
  text-transform: uppercase;
  background-color: #f85252;
  color: #fff;
  font-size: 14px;
  border: none;
  line-height: 1;
  cursor: pointer;
}
.main__btn-submit:hover {
  background-color: #f37f7f;
}
@media (max-width: 767px) {
  .file {
    display: none;
  }
  .form-field {
    background: #fff;
    border: solid 1px #464a4a;
    margin-bottom: 20px;
    height: 48px;
    color: #3d4141;
  }
  #name,
  #phone,
  #email {
    width: 100%;
  }
  #comments {
    background: #dadada;
  }
  .main__title {
    font-size: 26px;
  }
}
.main__upload-note {
  font-weight: 400;
  color: #94989b;
}
