@font-face { 
    font-family: "Tinos";
    src: local("Tinos"), 
         url(../fonts/AnyConv.com__Tinos-Italic.woff2) format("woff2"); 
    font-weight: 400;
    font-style: italic;
}
@font-face { 
    font-family: "Tinos";
    src: local("Tinos"), 
         url(../fonts/AnyConv.com__Tinos.woff2) format("woff2"); 
    font-weight: 400;
    font-style: normal;
}

.grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
  grid-template-rows: minmax(100px, auto) 1fr minmax(150px, auto);
  grid-template-areas: ". header ." ". main ." "footer footer footer";
}

/*====HEADER====*/
.header {
  grid-area: header;
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid #d8cdcd;
  margin-bottom: 40px;
  padding-top: 5px;
}
.nav {
  grid-column: 2 / 3;
  position: relative;
  background: #ffffff;
  overflow: hidden;
}
.nav__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}
.nav__center-img {
  max-width: 260px;
  margin-top: 10px;
}
.nav__link {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 100px;
  height: 100px;
  color: #3d4141;
}
.nav__left {
  float: left;
}
.nav__link-left {
  padding: 5px 35px 5px 10px;
}
.nav__right {
  float: right;
}
.nav__link-rigth {
  padding: 5px 10px 5px 35px;
}
@media screen and (max-width: 1150px) {
  .nav__center {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .nav__left,
  .nav__right {
    float: none;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__center {
    position: static;
    transform: none;
  }
  .nav__link {
    height: 50px;
    font-size: 13px;
    line-height: 50px;
    padding: 5px;
  }
}
@media screen and (max-width: 700px) {
  .nav__left,
  .nav__right {
    display: flex;
    flex-direction: column;
  }
  .nav__list {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .nav__link {
    line-height: 30px;
    height: 30px;
  }
}
/*Main*/
.main {
  grid-area: main;
}
.main__content {
  grid-column: 2 / 3;
  padding: 0 10px 57px 10px;
}
.main__title {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #3d4141;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.form-field {
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  background: #3d4140;
  padding: 10px 12px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0 0 15px;
}
#name,
#phone,
#email {
  width: 50%;
}
#comments {
  width: 100%;
  min-height: 200px;
}
.file {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.file__upload-button {
  cursor: pointer;
  padding: 12px 30px 8px;
  background-color: #3d4140;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 20px;
}
.file__upload-button:hover {
  background-color: #5e6061;
}
.main__btn-submit {
  margin-left: auto;
  padding: 13px 12px 10px;
  text-transform: uppercase;
  background-color: #f85252;
  color: #fff;
  font-size: 14px;
  border: none;
  line-height: 1;
  cursor: pointer;
}
.main__btn-submit:hover {
  background-color: #f37f7f;
}
@media (max-width: 767px) {
  .file {
    display: none;
  }
  .form-field {
    background: #fff;
    border: solid 1px #464a4a;
    margin-bottom: 20px;
    height: 48px;
    color: #3d4141;
  }
  #name,
  #phone,
  #email {
    width: 100%;
  }
  #comments {
    background: #dadada;
  }
  .main__title {
    font-size: 26px;
  }
}
.main__upload-note {
  font-weight: 400;
  color: #94989b;
}

/*Footer*/
.footer {
  grid-area: footer;
  padding: 57px 0;
  background-color: #3d4141;
  font: inherit;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
}
.footer__content {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}
.footer__logo {
  padding: 5px;
}
.footer__logo-link {
  display: block;
}
.footer__logo-img {
  margin-bottom: 25px;
}
.footer__contacts {
  width: 260px;
  margin-left: auto;
  margin-bottom: auto;
}
.contact__h4 {
  font-size: calc(22px + 20 * (100vw / 1170));
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}
.address {
  width: 530px;
  padding: 5px;
}
.address__item1 {
  font-size: calc(10px + 12 * (100vw / 1170));
  margin-bottom: 15px;
  letter-spacing: 0.02em;
  color: #818686;
}
.address__item2 {
  font-size: calc(14px + 13 * (100vw / 1170));
  color: #ffffff;
}
@media (max-width: 1090px) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__contacts {
    margin: 0;
  }
  .address {
    width: 100%;
    text-align: center;
  }
}
